:root {
    background: #E3EDFB;

    --color-icon: #0B3A67;

    --image-width: 8rem;
    --card-padding: 1rem;

    --font-heading: 1.75rem;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */
.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: var(--card-padding);
    max-width: 400px;
    background-color: white;
}

img {
    width: var(--image-width);
    height: auto;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;

    svg {
        color: var(--color-icon);
        height: 25px;
        width: 25px;
    }
}

h1 {
    font-size: var(--font-heading);
    font-weight: 800;
}

h2 {
    color: #11958b;
    font-weight: 500;
}
